# Python
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
dist/
build/
*.egg
.eggs/

# Virtual environments
.venv/

# IDE
.idea/
*.swp
*.swo
*~

# Environment
.env

# Data
data/inbox/*
!data/inbox/.gitkeep

data/processed/*
data/papers/*

# Docker volumes
docker_volumes/

# OS
.DS_Store
Thumbs.db


# local usage

.debug/