# Python
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
dist/
build/
*.egg
.eggs/

# Virtual environments
.venv/

# IDE
.idea/
*.swp
*.swo
*~

.vscode/

# Environment
.env

# Data
data/

# Docker volumes
docker_volumes/

# Frontend
node_modules/

# OS
.DS_Store
Thumbs.db


# local usage

.debug/
data/runtime_settings.json

# Logs
logs/